{% extends "base.html" %}
{% block body %}
<h2>Confirm New Password</h2>

<p>
Your new password is <b>{{ generated_password }}</b>.
</p>

<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <input name="generated_password" type="hidden" value="{{ generated_password }}" />
  <p>
    <input name="password" id="password" type="password" size="60" placeholder="Type your new password here"/>
  </p>
  <button type="submit" class="pull-right">Confirm Password Change</button>
</form>
{% endblock %}
